.user-profile-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1c29;
  color: #fff;
}

.user-profile-content {
  width: 80%;
}

/* Dark Mode */
.user-profile-container.active {
  background-color: #fff;
  color: #000;
}

.user-profile-container.active .user-profile.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
  color: #000;
}

.user-profile-container.active .user-profile.active p,
.user-profile-container.active .user-profile.active span {
  color: #a7a7ab;
}

.user-profile-container.active .user-github-info strong {
  color: #000;
}

.user-profile-container.active .user-github-info {
  background-color: #eeeeee;
  color: #a7a7ab;
}

.user-profile-container.active .form-input input[type="text"] {
  background-color: #fff;
  color: #000;
  -webkit-appearance: none;
}

.user-profile-container.active ::placeholder,
.user-profile-container.active i {
  color: #000;
}

.user-profile-container.active button {
  color: #000;
}

/* Dark Mode END */

.top-content {
  display: flex;
  justify-content: space-between;
}

.top-content div span {
  margin-right: 10px;
}

.top-content div button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

/* Form */
.user-profile-input {
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 15px 42px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  background-color: #1f2a48;
  color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
  outline: none;
}

::placeholder {
  color: #fff;
}

input:focus {
  outline: none;
}

.form-input {
  position: relative;
}

.form-input input[type="submit"] {
  width: 80px;
  padding: 11px;
  border: none;
  background-color: #00a19d;
  color: #fff;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
}

.form-input i {
  position: absolute;
  z-index: 2;
  font-size: 1.5rem;
  top: 10px;
  left: 10px;
  color: #fff;
}

.user-profile {
  margin-top: 30px;
  background-color: #1f2a48;
  color: #fff;
  border-radius: 10px;
  padding: 5px 15px;
  display: none;
}

.user-profile.active {
  display: block;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 690px) {
  .user-profile-content {
    width: 100%;
  }

  .top-content {
    font-size: 0.9rem;
  }
}
